<div class="about">
  <h2>About</h2>
  <h3>
    RecipEasy is an online, personal recipe storer. Ditch your old recipe book
    and start cooking smarter!
  </h3>
  <div class="about-grid">
    <div class="about-grid-item">
      <img src="../assets/img/typing.svg" alt="Type" />
      <p>Write your own recipes</p>
    </div>
    <div class="about-grid-item">
      <img src="../assets/img/list.svg" alt="Browse" />
      <p>Browse your stored recipes</p>
    </div>
    <div class="about-grid-item">
      <img src="../assets/img/chef.svg" alt="Cook" />
      <p>Get cooking!</p>
    </div>
  </div>
</div>
<div id="AboutId"></div>
